<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <table>
            <% budgets.forEach((item, index) => { %>
            <tr>
                <td><%=item.date%></td>
                <td><a href="/budgets/<%=index%>"><%=item.name%></a></td>
                <td><%=item.amount%></td>
            </tr>
        <% }) %>

        </table>
       
        <br>
        <a class="waves-effect waves-light btn" href="/budgets/new">Add New Item</a>
        
    </body>
</html>