
<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
       <div class="container">
           <h1><%=budget.name%></h1>
           <a class="waves-effect waves-light btn" href="/budgets">Back to Home</a>
           <ul>
               <li>date : <%=budget.date%></li>
               <li>from : <%=budget.from%></li>
               <li>amount : <%=budget.amount%></li>
               <li>tags : <%=budget.tags%></li>
           </ul>
       </div>
    </body>
</html>